* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  background-color: #222;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #f4a261;
}

/* Optional: highlight the current page */
.active {
  color: #f4a261;
}

.logo {
  color: #f4a261;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
}
