* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Roboto, sans-serif;
  background-color: #333;
}
h1 {
  color: #f4a261;
  text-align: center;
  border-bottom: 2px solid #f4a261;
  padding-bottom: 10px;
}
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

/* Navigation Styles */

nav {
  background-color: #222;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #f4a261;
}

/* highlight the current page */
.active {
  color: #f4a261;
}

.logo {
  padding-top: 10px;
  color: #f4a261;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
}

/* Index Page Styles */

.indexbody {
  /* You can customize your body for the index page here, without effecting other pages */
}

.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* History Page Styles */

.historybody {
  /* You can customize your body for the history page here, without effecting other pages */
  height: 100%;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
  background-color: #333;
  color: #333;
}

.historysection {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}
li {
  margin-bottom: 5px;
}
